<div class="flex-container">
    <div class="flex-item">
        image
    </div>
    <div class="flex-item">
        welcome text
    </div>
    <div class="flex-item">
        <button md-raised-button (click)="gotoForm()"> Log In with Form </button>
        <button md-raised-button (click)="loginWithFacebook()"> Log In with Facebook </button>
        <button md-raised-button (click)="loginWithFacebook()"> Log In with Instagram </button>
    </div>
    <div class="flex-item">
        footer
    </div>
</div>
